.row-fluid.phxxl
  .col-xs-24.col-sm-24.col-md-24.col-lg-24.mtxl.phn
    .col-xs-18.col-sm-18.col-md-18.col-lg-18
      = image_tag 'pcf@2x.png', width: 70, class: 'txt-m'
      %span.txt-m
        %span.h1.txt-b.mls
          Pivotal Cloud Foundry
        %span.small.type-neutral-4
          v1.7
    .col-xs-6.col-sm-6.col-md-6.col-lg-6
      .form-group.form-group-search
        %input#searchInput.form-control{:placeholder => "Search"}/
        %i.search-icon
